map $host $sap_servername {
    default ${SAP_SERVERNAME};
}

server {
    server_name redis_cache;
    listen 80;

    location /memberships {
        proxy_pass http://app:8089;
    }

    location / {
        proxy_pass http://${sap_servername};
    }
}